@charset "UTF-8";

// Mixins
@import "materialize/components/prefixer";
@import "materialize/components/mixins";
@import "materialize/components/color";

// Variables
@import "materialize/components/variables";


// materialize/components
@import "materialize/components/global";
@import "materialize/components/grid";
@import "materialize/components/typography";
@import "materialize/components/tabs";
@import "materialize/components/dropdown";
@import "materialize/components/materialbox";
@import "materialize/components/form";
